<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
            <li class="navbar-brand">
              <img src="static/768px-PyeongChang_2018_crop.png" height="100"/>
            </li>
            {% set navigation_bar = [
                ('index', 'Main Table'),
                ('timeline', 'Timeline'),
                ('results', 'Results'),
                ('athletes', 'Athletes')
            ] -%}
            {% for id, caption in navigation_bar %}
              <li class="nav-item
                {% if id == active_page %}
                active
                {% endif %}">
                <a class="nav-link" href="{{ url_for(id) }}">{{ caption }}</a>
              </li>
            {% endfor %}
        </ul>

      </nav>
    </div>
    <main class="container p-5">
      {% block main %}{% endblock %}
    </main>
    <script src="static\jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
