<script type='text/html' id='template1'>
  <li class="list-group-item">
    <h2>
      <a data-toggle="collapse" href="#collapse{{ country }}" role="button" aria-expanded="false" aria-controls="collapse{{ country }}">
        {{ country }}
  <img src="static\medals\1.png" /> {{ gold }}
  <img src="static\medals\2.png" /> {{ silver }}
  <img src="static\medals\3.png" /> {{ bronze }}
      </a>
    </h2>
    <div class="collapse" id="collapse{{ country }}">
      <div class="card card-body">
</script>
<script type='text/html' id='template2'>
  <div>
      <img src="static\medals\{{ place }}.png" /> {{ event }}
      <img src="static\sports\{{ sport }}.png" />
      <ul>
        <li>
          {{ athletes }}
        </li>
      </ul>
  </div>
</script>
<script type='text/html' id='template3'>
      </div>
    </div>
  </li>
</script>

<script type='text/html' id='template2'>
  hey
</script>
